---
import {COPYRIGHT_NAME} from "../consts";
import "@/styles/components.scss";
import {clsx} from "clsx";
const today = new Date();
---

<footer
    id="footer-container"
    class={clsx(
      "card",
    )}
>
  <p>
    &copy; {today.getFullYear()} by {COPYRIGHT_NAME}
  </p>
  <p>
    Licensed under
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="link">CC BY-NC-SA 4.0</a>
  </p>
</footer>

<style lang="scss">
  #footer-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    * {
      margin-bottom: 0;
    }
  }

  footer {
    text-align: center;
  }
</style>